h1{
    font-size: 50px;
    color:rgba(136, 43, 223,1);
}

body{
    text-align: center;
    /* background-image: url("../imgs/kj2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 
}

span{
    font-size: 10px;
    color:rgb(244, 195, 134);
}

.peopleTxt{
    color: rgb(179, 212, 210);
}

.answer{
    color: rgba(255, 0, 0,1);
}

.changeDisplay_video,
.changeDisplay_img,
.changeDisplay_gif{
    cursor: pointer;
}
